<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279470076021-10salu8j21piggcr0k2o699r5lghggvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279470076021-10salu8j21piggcr0k2o699r5lghggvf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279470076021-ip3opretdtarha1p9rmvoodgsdckjhq2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQVywOwqQ6ddV5-pMNkbJxXl3M7GhXzmE</string>
	<key>GCM_SENDER_ID</key>
	<string>279470076021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.horyxFluter</string>
	<key>PROJECT_ID</key>
	<string>horyx-bfd5a</string>
	<key>STORAGE_BUCKET</key>
	<string>horyx-bfd5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279470076021:ios:05234d3341e0626457083c</string>
</dict>
</plist>